In [7]:
#variable decalaration
name = "nusaiba"
age = 23
height = 2.14

#take a output
print(name)
print(age)
print(height)

nusaiba
23
2.14

In [9]:
#verify the variable types
print(type(name))
print(type(age))
print(type(height))

<class 'str'>
<class 'int'>
<class 'float'>

In [12]:
#comparision operators
a=5
b=2
#1.
a==b

False

In [13]:
a!=b

True

In [14]:
a>b

True

In [15]:
a<b

False

In [16]:
a>=b

True

In [17]:
a<=b

False

In [18]:
#logical operators(and, or, not)
#and = both option 
#or = this or that
#not = not both
# ex:-
(4>5) and (11>5)

False

In [19]:
(9>3) or (7>5)

True

In [ ]:
#and logical operators
# A       B        C(out put)
#false  false     false
#false  Truse     False 
#True   False     False
#Truse  True      True

#or logical operators
#False   False    False
#False   True     True
#True    False    True
#True    True     True

#Not logical operators
# A         B(out put)
#False     True
#True      False

In [20]:
print (True or True)

True

In [21]:
math_marks = 67
science_marks = 43

print(math_marks > 50 or science_marks > 50)

True

In [29]:
# in class practicals
#ques 1
#write a python command to get name as user input 
#write a python command to get age as user input 
#write a python command to get height as user input 
#print the variable names and values on each line

name = "Nusaiba"
age = 23
height = 5.2

print(name,age,height)
print("name:" ,name ,"age:" ,age, "height: ",height )

Nusaiba 23 5.2
name: Nusaiba age: 23 height:  5.2